<div id="new_game">
  <h1>Result</h1>
  <p><p><p><p>
  <div id="result"><%= @results[:message] %></div>
  <p><p>
  <div id="score">Score : <%= @results[:score] %></div>
  <p><p><p><p>
  <%= link_to "Play again", new_path %>
</div>
